* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url(mainbg.jpg);
    background-position: center;
    background-size: cover;
    height: 81vh;
    background-repeat: no-repeat;
}

.logo {
    position: absolute;
    top: 19px;
    left: 15px;
    font-family: "Kanit";
    color: white;
    font-size: 31px;
}

.navmenu li {
    list-style: none;
    color: white;
    display: inline;
    padding: 50px;
    font-family: "Kanit", sans-serif;
}

.navmenu {
    position: absolute;
    top: 4vh;
    left: 22%;
}

.searchbox {
    float: right;
    position: absolute;
    top: 3vh;
    left: 76%;
}

input[type="search"] {
    padding: 7px;
    width: 360px;
    opacity: 0.6;
    border-radius: 50px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: yellow;
}

.container {
    color: white;
    position: absolute;
    top: 36vh;
    left: 5vh;
}

.container p {
    font-family: "Great Vibes", cursive;
    font-size: 38px;
}

.container h1 {
    font-size: 62px;
    font-family: "Kanit";
}

.container h5 {
    font-family: "Kanit";
    font-size: 20px;
}

.container #box1 {
    width: 153px;
    text-align: center;
    position: absolute;
    top: 27vh;
    font-family: "Jura", sans-serif;
    font-size: 18px;
    border-radius: 25px;
    background-color: #ffffff57;
    text-shadow: 2px 1px black;
    padding: 9px;
}

.container #box2 {
    width: 153px;
    text-align: center;
    position: absolute;
    top: 27vh;
    left: 26vh;
    font-family: "Jura", sans-serif;
    font-size: 18px;
    border-radius: 25px;
    background-color: #ffffff57;
    text-shadow: 2px 1px black;
    padding: 9px;
}

footer {
    color: white;
    font-size: 21px;
    position: absolute;
    top: 95vh;
    left: 4vh;
    font-family: "Jura", sans-serif;
}

.menu::before {
    background-image: url(menubg.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    content: "";
    top: 100vh;
    height: 210vh;
    width: 100%;
    opacity: 0.8;
    z-index: -1;
}

.menu h2 {
    text-align: center;
    color: chartreuse;
    font-family: "Great Vibes";
    font-size: 81px;
    position: absolute;
    top: 103vh;
    left: 86vh;
    text-shadow: 3px 2px black;
}

.mainbox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: absolute;
    top: 113vh;
    /* border: 2px solid black; */
    width: -webkit-fill-available;
    height: 171vh;
    margin: 15px;
    justify-content: center;
}

.menu1,
.menu2,
.menu3,
.menu4,
.menu5,
.menu6 {
    margin: 30px;
    border-radius: 60px;
    justify-content: center;
}

.menu1 h3,
.menu2 h3,
.menu3 h3,
.menu4 h3,
.menu5 h3,
.menu6 h3 {
    position: relative;
    top: 42%;
    font-family: "Great Vibes";
    font-size: 65px;
    color: blue;
    text-shadow: 3px 2px 3px yellow;
    background: #f5deb3bf;
    padding: 7px;
}

.menu1 p,
.menu2 p,
.menu3 p,
.menu4 p,
.menu5 p,
.menu6 p {
    position: relative;
    top: 44%;
    font-family: "Jura";
    font-size: 20px;
    font-weight: 900;
    background: #ffffff9e;
    padding: 4px;
}

.menu1 {
    background-image: url(coffe.jpg);
    background-position: center;
    background-size: cover;
}

.menu1 #explore {
    width: 153px;
    text-align: center;
    left: 31%;
    position: relative;
    top: 68%;
    font-family: "Jura", sans-serif;
    font-size: 18px;
    border-radius: 25px;
    background-color: #faebd7d1;
    padding: 6px;
    font-weight: bolder;
}

.menu2 {
    background-image: url(breakfast.webp);
    background-position: center;
    background-size: cover;
}

.menu2 #explore {
    width: 153px;
    text-align: center;
    left: 31%;
    position: relative;
    top: 63%;
    font-family: "Jura", sans-serif;
    font-size: 18px;
    border-radius: 25px;
    background-color: #faebd7d1;
    padding: 6px;
    font-weight: bolder;
}

.menu3 {
    background-image: url(soup.webp);
    background-position: center;
    background-size: cover;
}

.menu3 #explore {
    width: 153px;
    text-align: center;
    left: 31%;
    position: relative;
    top: 59%;
    font-family: "Jura", sans-serif;
    font-size: 18px;
    border-radius: 25px;
    background-color: #faebd7d1;
    padding: 6px;
    font-weight: bolder;
}

.menu4 {
    background-image: url(sandwhich.jpg);
    background-position: center;
    background-size: cover;
}

.menu4 #explore {
    width: 153px;
    text-align: center;
    left: 31%;
    position: relative;
    top: 59%;
    font-family: "Jura", sans-serif;
    font-size: 18px;
    border-radius: 25px;
    background-color: #faebd7d1;
    padding: 6px;
    font-weight: bolder;
}

.menu5 {
    background-image: url(salad.jpg);
    background-position: center;
    background-size: cover;
}

.menu5 #explore {
    width: 153px;
    text-align: center;
    left: 31%;
    position: relative;
    top: 59%;
    font-family: "Jura", sans-serif;
    font-size: 18px;
    border-radius: 25px;
    background-color: #faebd7d1;
    padding: 6px;
    font-weight: bolder;
}

.menu6 {
    background-image: url(pastries.jpg);
    background-position: center;
    background-size: cover;
}

.menu6 #explore {
    width: 153px;
    text-align: center;
    left: 31%;
    position: relative;
    top: 59%;
    font-family: "Jura", sans-serif;
    font-size: 18px;
    border-radius: 25px;
    background-color: #faebd7d1;
    padding: 6px;
    font-weight: bolder;
}

#explore a {
    text-decoration: none;
    color: blue;
}

#explore a:hover {
    color: red;
}

.contactus {
    font-family: "Jura";
    background-color: rgba(240, 240, 240, 0.83);
    text-align: center;
    color: black;
    position: absolute;
    top: 289vh;
    width: 205vh;
    padding: 20px;
    left: 0;
    font-weight: bolder;
}